<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Templates

    <a data-toggle="collapse" href="#user_templates_new_form">
      Add template
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.templates.each do |template| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/templates/<%= template.id %>">
          <%= template.description %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_template_from_user/<%= template.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_templates_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "user_templates/user_templates_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
