<form action="/create_template_from_function" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @template.description %></textarea>
  </div>

  <div class="form-group">
    <label for="template_text">
      Template text
    </label>

    <textarea id="template_text" name="template_text" class="form-control" rows="3"><%= @template.template_text %></textarea>
  </div>

  <input type="hidden" name="function_id" value="<%= @function.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @template.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create template
  </button>
</form>
