<form action="/create_template_from_function" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @template.description %></textarea>
  </div>

  <input type="hidden" name="function_id" value="<%= @function.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create template
  </button>
</form>
