<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Templates

    <a data-toggle="collapse" href="#function_templates_new_form">
      Add template
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @function.templates.each do |template| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/templates/<%= template.id %>">
          <%= template.description %>
        </a>

        <a href="/delete_template_from_function/<%= template.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="function_templates_new_form">
        <%= render partial: "function_templates/function_templates_new_form" %>
      </div>
    </div>

  </ul>
</div>
