<!-- Validation failure messages -->
<% if @function.errors.any? %>
  <% @function.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit function #<%= @function.id %>
</h1>

<hr>

<!-- Form function start -->
<form action="/update_function/<%= @function.id %>" method="post">
<!-- Form function end -->

  <!-- Label and input for function_name start -->
  <div class="form-group">
    <label for="function_name">
      Function name
    </label>

    <!-- Input for function_name start -->
    <input type="text" id="function_name" name="function_name" class="form-control" value="<%= @function.function_name %>">
    <!-- Input for function_name end -->
  </div>
  <!-- Label and input for function_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update function
  </button>
</form>

<hr>

<a href="/functions">
  Go back
</a>
