<% if @function.errors.any? %>
  <% @function.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit function #<%= @function.id %>
</h1>

<hr>

<form action="/update_function/<%= @function.id %>" method="post">

  <div class="form-group">
    <label for="function_name">
      Function name
    </label>

    <input type="text" id="function_name" name="function_name" class="form-control" value="<%= @function.function_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update function
  </button>
</form>

<hr>

<a href="/functions">
  Go back
</a>
