<h1>
  Add a new function
</h1>


<hr>

<form action="/create_function" method="post">

  <div class="form-group">
    <label for="function_name">
      Function name
    </label>

    <input type="text" id="function_name" name="function_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create function
  </button>
</form>

<hr>

<a href="/functions">
  Go back
</a>
